@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&display=swap');
.container{
    width: 100%;
}
.inicial {
    display: flex;
    position: relative;
    width: 100%;
    height: auto; /* ou defina uma altura fixa */
    font-family: 'open sans';
   
}
.inicial img{
    width: 100%;
    height: 100%;
}
.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, black, transparent,transparent);
    z-index: 1;
}
.container{
    display: flex;
    flex-direction: column;
}
.white-board{
    background-color: rgb(211, 43, 40);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.white-board img{
width: 100%;
margin: none;
}
.white-board h1{
    color: rgb(181, 181, 181);
    font-family: 'open sans';
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 250px;
}
#card{  
    width: 30%;
    margin: 5px;
    margin-top: 30px;
}

#card img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}